@import url("default.css");


.wy-nav-top {
    background-color: red;
}

.wy-side-nav-search {
    background-color: #555555;
}

.wy-menu > .caption > span.caption-text {
  color: #ffffff;
}

.rst-content .highlight > pre {
    font-size: 14px;
}

